@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Amsterdam;
  src: url("../fonts/AmsterdamOne.ttf");
}
/* =======================================================
*
* 	Template Style
*
* ======================================================= */
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #646464;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #646464;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: black;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: white;
  background: #646464;
}

::-moz-selection {
  color: white;
  background: #646464;
}

::selection {
  color: white;
  background: #646464;
}

.fh5co-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1001;
}
@media screen and (max-width: 768px) {
  .fh5co-nav {
    padding: 20px 0;
  }
}
.fh5co-nav a {
  padding: 5px 10px;
  color: white;
}
@media screen and (max-width: 768px) {
  .fh5co-nav .menu-1, .fh5co-nav .menu-2 {
    display: none;
  }
}
.fh5co-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-nav ul li a {
  font-size: 20px;
  font-family: Sofia Sans Condensed;
  padding: 30px 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: white;
}
.fh5co-nav ul li.active > a {
  color: white !important;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
  position: relative;
}

.fh5co-video {
  height: 450px;
  overflow: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.fh5co-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: white;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.fh5co-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.fh5co-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.fh5co-cover {
  min-height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  width: 100%;
}
.fh5co-cover .container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 480px) {
  .fh5co-cover .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(147, 147, 147, 0.5);
}
.fh5co-cover .subheader {
  color: white;
  margin: 24px 0 0 0;
  font-family: cursive; /* TODO see if this is a good enough font */
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .subheader {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-cover .subheader {
    font-size: 18px;
  }
}
.fh5co-cover .save-the-date {
  filter: invert(1) drop-shadow(2px 4px 6px black);
  width: inherit;
  height: 28vh;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .save-the-date {
    height: 22vh;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-cover .save-the-date {
    height: 18vh;
  }
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}
.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  height: 100%;
  width: 100%;
  display: table;
}

#fh5co-event {
  height: 850px;
  float: left;
}
#fh5co-event .display-t,
#fh5co-event .display-tc {
  height: 700px;
  display: table;
  width: 100%;
}
#fh5co-event .fh5co-heading h2 {
  color: #646464;
}
#fh5co-event .fh5co-heading span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
}
#fh5co-event .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.04);
}
@media screen and (max-width: 768px) {
  #fh5co-event {
    height: inherit;
    padding: 7em 0;
  }
  #fh5co-event .display-t,
  #fh5co-event .display-tc {
    height: inherit;
  }
}
#fh5co-event .event-wrap {
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 30px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  #fh5co-event .event-wrap {
    margin-bottom: 10px;
  }
}
#fh5co-event .event-wrap h3 {
  font-size: 14px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Sofia Sans Condensed;
  font-size: 25px;
}
#fh5co-event .event-wrap p,
#fh5co-event .event-wrap span {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-family: Sofia Sans Condensed;
  font-size: 20px;
}
#fh5co-event .event-wrap i {
  color: black;
  font-size: 20px;
}
#fh5co-event .event-wrap .event-col {
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

#fh5co-gallery-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
#fh5co-gallery-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 480px) {
  #fh5co-gallery-list li {
    margin-left: 0;
  }
}
#fh5co-gallery-list li a {
  min-height: 400px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}
#fh5co-gallery-list li a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.2);
}
#fh5co-gallery-list li a:hover:before {
  background: rgba(0, 0, 0, 0.5);
}
#fh5co-gallery-list li a .case-studies-summary {
  width: auto;
  bottom: 2em;
  left: 2em;
  right: 2em;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  #fh5co-gallery-list li a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}
#fh5co-gallery-list li.one-third {
  width: 32.3%;
}
@media screen and (max-width: 768px) {
  #fh5co-gallery-list li.one-third {
    width: 49%;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-gallery-list li.one-third {
    width: 100%;
  }
}

form label {
  font-weight: normal !important;
}

.fh5co-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
  padding-top: 130px;
}
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
.fh5co-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 65px;
  line-height: 1.5;
  font-family: "Amsterdam", Arial, serif;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .display-tc h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-cover .display-tc h1 {
    font-size: 30px;
  }
}
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
  font-family: Engagement;
}
@media screen and (max-width: 480px) {
  .fh5co-cover .display-tc h2 {
    font-size: 16px;
  }
}
.fh5co-cover .display-tc h2 a {
  color: white;
}
.fh5co-cover .display-tc .btn {
  padding: 20px 20px;
  background: white !important;
  color: #646464;
  border: none !important;
  font-size: 16px;
  font-family: Sofia Sans Condensed;
  text-transform: uppercase;
}
.fh5co-cover .display-tc .btn:hover {
  background: white !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

.fh5co-section {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  .fh5co-section {
    padding: 3em 0;
  }
}

.fh5co-section-gray {
  background: rgba(0, 0, 0, 0.04);
}

.fh5co-heading {
  margin-bottom: 5em;
}
.fh5co-heading h2 {
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #646464;
  font-family: "Amsterdam", Arial, serif;
}
@media screen and (max-width: 768px) {
  .fh5co-heading h2 {
    font-size: 40px;
  }
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.fh5co-heading span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.fh5co-heading .about-description {
  font-size: 20px;
  line-height: 1.8;
  margin: 38px auto 0 auto;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .fh5co-heading .about-description {
    font-size: 18px;
  }
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  font-size: 14px;
  font-weight: bold;
  font-family: Sofia Sans Condensed;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all 0.2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: "";
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: white;
  background: white;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: white;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.fh5co-footer {
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.02);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.fh5co-footer p {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.fh5co-footer a {
  color: #646464;
  text-decoration: none;
}
.fh5co-footer a:hover {
  color: rgb(74.5, 74.5, 74.5);
}
.fh5co-footer .github-icon {
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
  margin-left: 3px;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-footer a:hover .github-icon {
  opacity: 1;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

.wip {
  display: none !important;
}

.flip-clock-wrapper {
  margin: 2em auto !important;
  display: inline-block !important;
  width: auto !important;
}
@media screen and (max-width: 991px) {
  .flip-clock-wrapper {
    margin: 1em auto !important;
  }
}
@media screen and (max-width: 480px) {
  .flip-clock-wrapper {
    margin: 0.5em auto !important;
  }
}

.flip-clock-divider .flip-clock-label {
  color: white !important;
  font-size: 14px !important;
  font-weight: bold !important;
  font-family: Sofia Sans Condensed !important;
}

.flipTimebox {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .flipTimebox .flip-clock-wrapper ul {
    height: 55px;
    line-height: 55px;
    width: 45px;
    margin: 3px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    line-height: 55px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div.up:after {
    top: 26px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 42px;
  }
  .flipTimebox .flip-clock-divider {
    height: 55px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -60px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -64px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -70px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -71px;
  }
  .flipTimebox .flip-clock-dot {
    height: 7px;
    width: 7px;
    left: 8px;
  }
  .flipTimebox .flip-clock-dot.top {
    top: 19px;
  }
  .flipTimebox .flip-clock-dot.bottom {
    bottom: 10px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 767px) {
  .flipTimebox .flip-clock-wrapper ul {
    height: 50px;
    line-height: 50px;
    width: 37px;
    margin: 2px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    line-height: 50px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div.up:after {
    top: 24px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 38px;
  }
  .flipTimebox .flip-clock-divider {
    height: 50px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -58px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -62px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -68px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -69px;
  }
  .flipTimebox .flip-clock-dot {
    height: 6px;
    width: 6px;
    left: 7px;
  }
  .flipTimebox .flip-clock-dot.top {
    top: 17px;
  }
  .flipTimebox .flip-clock-dot.bottom {
    bottom: 8px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 568px) {
  .flipTimebox .flip-clock-wrapper ul {
    margin: 2px;
  }
  .flipTimebox .flip-clock-divider {
    width: 5px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -58px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -62px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -68px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -69px;
  }
  .flipTimebox .flip-clock-dot {
    height: 5px;
    width: 5px;
    left: 0;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 480px) {
  .flipTimebox {
    margin: 50px 0 50px 20px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 28px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 30px;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 27px;
    background-color: transparent;
    box-shadow: none;
    margin-left: -8px;
  }
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 1em;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -33px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -37px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -43px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -45px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -10px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 360px) {
  .flipTimebox .flip-clock-wrapper ul li {
    width: 25px;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 25px;
    margin-left: -14px;
  }
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 1em;
    width: 3px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -1px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: 2px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: 6px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: 9px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -16px;
  }
  .flipTimebox {
    margin: 50px 0 100px 20px;
  }
}
@media screen and (max-width: 320px) {
  .flipTimebox .flip-clock-wrapper ul li {
    width: 22px;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 22px;
    margin-left: -16px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: 3px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: 6px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: 11px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: 14px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -18px;
  }
}

@media screen and (max-width: 480px) {
  .flipTimemodulesboxes {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
