$font-primary: 'Work Sans', Arial, sans-serif;
$font-secondary: 'Amsterdam', Arial, serif;


// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #646464 !default;
$brand-secondary: #118DF0 !default;

$brand-white: white;
$brand-black: black;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;



// Mixin
@mixin translateX($translatex) {
  -moz-transform: translateX($translatex);
  -webkit-transform: translateX($translatex);
  -ms-transform: translateX($translatex);
  -o-transform: translateX($translatex);
  transform: translateX($translatex);
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin flexwrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?srf3rx');
  src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
    url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Amsterdam;
  src: url('../fonts/AmsterdamOne.ttf');
}

@mixin icomoon() {

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

// Import
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style
*
* ======================================================= */

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  @include transition(.5s);
  .offcanvas & {
    overflow: hidden;
    position: absolute;

    &:after {
      @include transition(2s);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0,0,0,.7);
      content: "";
    }
  }
}
a {
  color: $brand-primary;
  @include transition(.5s);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    outline: none;
    text-decoration: none;
  }
}
p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: $brand-black;
  font-family: $font-primary;
  font-weight: 400;
  margin: 0 0 20px 0;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}

.fh5co-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1001;
  @media screen and (max-width: $screen-sm) {
    padding: 20px 0;
  }
  a {
    padding: 5px 10px;
    color: $brand-white;
  }
  .menu-1, .menu-2 {
    @media screen and (max-width: $screen-sm ) {
      display: none;
    }
  }
  ul {
    padding: 0;
    margin: 2px 0 0 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      a {
        font-size: 20px;
        font-family: Sofia Sans Condensed;
        padding: 30px 10px;
        text-transform: uppercase;
        color: rgba(255,255,255,.5);
        @include transition(.5s);
        &:hover,&:focus, &:active {
          color: $brand-white;
        }
      }
      &.active {
        > a {
          color: $brand-white!important;
        }
      }
    }
  }
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
  position: relative;
}

.fh5co-video {
  height: 450px;
  overflow: hidden;
  @include border-radius(7px);
  a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: $brand-white;

    -webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
    @include border-radius(50%);

    i {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 40px;

    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    @include transition(.5s);
  }
  &:hover {
    .overlay {
      background: rgba(0, 0, 0, .7);
    }
    a {
      position: relative;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);

    }
  }
}

.fh5co-cover {
  height: 100lvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;

  .overlay {
    z-index:0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(147, 147, 147, .5);
  }

  .subheader {
    color: $brand-white;
    margin: 24px 0 0 0;
    font-family: cursive; /* TODO see if this is a good enough font */
    font-size: 26px;
  }

  .save-the-date {
    filter: invert(1) drop-shadow(2px 4px 6px $brand-black);
    width: inherit;
    height: 28vh;
  }

  > .fh5co-container {
    position: relative;
    z-index: 10;
  }
  .display-t,
  .display-tc {
    height: 100%;
    width: 100%;
    display: table;
  }
}

#fh5co-event {
  height: 850px;
  float: left;

  .display-t,
  .display-tc {
    height: 700px;
    display: table;
    width: 100%;
  }
  .fh5co-heading {
    h2 {
      color: $brand-primary;
    }
    span {
      color: rgba($brand-white,.5);
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($brand-black, .04);
  }
  @media screen and (max-width: $screen-sm) {
    height: inherit;
    padding: 7em 0;
    .display-t,
    .display-tc {
      height: inherit;
    }
  }

  .event-wrap {
    border: 2px solid rgba($brand-black, .5);
    padding: 30px;
    width: 100%;
    float: left;
    @include border-radius(4px);
    @media screen and (max-width: $screen-sm) {
      margin-bottom: 10px;
    }
    h3 {
      font-size: 14px;
      color: $brand-black;
      border-bottom: 1px solid rgba($brand-black, .5);
      display: block;
      padding-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: Sofia Sans Condensed;
      font-size: 25px;
    }
    p,
    span {
      display: block;
      color: rgba($brand-black, .8);
      font-family: Sofia Sans Condensed;
      font-size: 20px;
    }
    i {
      color: $brand-black;
      font-size: 20px;
    }
    .event-col {
      width: 50%;
      float: left;
      margin-bottom: 30px;
    }
  }

}

// GALLERY
#fh5co-gallery-list {
  @include flexwrap;
  @include flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    display: block;
    padding: 0;
    margin: 0 0 10px 1%;
    list-style: none;
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    position: relative;
    @include border-radius(7px);
    @media screen and (max-width: $screen-xs) {
      margin-left: 0;
    }
    a {
      min-height: 400px;
      padding: 2em;
      position: relative;
      width: 100%;
      display: block;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        z-index: 80;
        @include transition(.5s);
        @include border-radius(7px);

        background: rgba(0, 0, 0, .2);

      }
      &:hover {
        &:before {
          background: rgba(0, 0, 0, .5);
        }
      }

      .case-studies-summary {
         width: auto;
         bottom: 2em;
         left: 2em;
         right: 2em;
         position: absolute;
         z-index: 100;
         @media screen and (max-width: $screen-sm) {
           bottom: 1em;
           left: 1em;
           right: 1em;
         }
      }
    }
    &.one-third {
      width: 32.3%;
      @media screen and (max-width: $screen-sm) {
        width: 49%;
      }
      @media screen and (max-width: $screen-xs) {
        width: 100%;
      }
    }

  }

}

form {
  label {
    font-weight: normal!important;
  }
}


.fh5co-cover {
  .display-tc {
    display: table-cell!important;
    vertical-align: middle;
    padding-top: 130px;
    h1,
    h2 {
      margin: 0;
      padding: 0;
      color: $brand-white;
    }
    h1 {
      margin-bottom: 0px;
      font-size: 65px;
      line-height: 1.5;
      font-family: $font-secondary;
      @media screen and (max-width: $screen-sm) {
        font-size: 40px;
      }
      @media screen and (max-width: $screen-xs) {
        font-size: 30px;
      }
    }
    h2 {
      font-size: 20px;
      line-height: 1.5;
      margin-top: 20px;
      font-family: Engagement;
      @media screen and (max-width: $screen-xs) {
        font-size: 16px;
      }
      a {
        color: $brand-white;
      }
    }
    .btn {
      padding: 20px 20px;
      background: $brand-white !important;
      color: $brand-primary;
      border: none !important;
      font-size: 16px;
      font-family: Sofia Sans Condensed;
      text-transform: uppercase;
      // @include border-radius(2px);
      &:hover {
        background: $brand-white !important;
        -webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
        -moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
        box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
      }
    }
  }
}


.fh5co-section {
  padding: 7em 0;
  clear: both;
  @media screen and (max-width: $screen-sm) {
    padding: 3em 0;
  }
}

.fh5co-section-gray{
  background: rgba($brand-black,.04);
}


.fh5co-heading {
  margin-bottom: 5em;
  h2 {
    font-size: 60px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    color: $brand-primary;
    font-family: $font-secondary;
    @media screen and (max-width: $screen-sm){
      font-size: 40px;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #828282;
  }
  span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgba($brand-black,.4);
  }
}

// Owl
.owl-carousel .owl-controls .owl-dot {
  span {
    background: lighten($brand-black, 90%);
    &:hover, &:focus {
      background: lighten($brand-black, 80%);
    }
  }
  &:hover, &:focus {
    span {
      background: lighten($brand-black, 80%);
    }
  }
  &.active {
    span {
      background: transparent;
      border: 2px solid $brand-primary;
    }
  }
}

// off canvas
#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: lighten($brand-black, 0%);
  font-size: 14px;
  font-weight: bold;
  font-family: Sofia Sans Condensed;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  @include translateX(270px);
  @include transition(.5s);
  .offcanvas & {
    @include translateX(0px);
  }
  a {
    color: rgba(255,255,255,.5);
    &:hover {
      color: rgba(255,255,255,.8);
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      > ul {
        padding-left: 20px;
        display: none;
      }
    }
  }
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  @include transition(.5s);
  &.active {
    opacity: 1;
    visibility: visible;
  }
  a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0,0,0,.5);
    color: $brand-white;
    text-align: center;
    @include border-radius(4px);
    i {
      height: 50px;
      display: table-cell;
      vertical-align: middle;

    }
    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}



// Burger Menu
.fh5co-nav-toggle {
  width:25px;
  height:25px;
  cursor: pointer;
  text-decoration: none;
  &.active i {
    &::before, &::after {
      background: $brand-darker;
    }
  }
  &:hover, &:focus, &:active {
    outline: none;
    border-bottom: none!important;
  }
  i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font:bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent:-55px;
    background: #252525;
    transition: all .2s ease-out;
     &::before, &::after {
      content:'';
      width: 25px;
      height: 2px;
      background: #252525;
      position: absolute;
      left:0;
      transition:all .2s ease-out;
    }
  }
  &.fh5co-nav-white {
    > i {
      color:$brand-white;
      background: $brand-white;
      &::before, &::after {
        background: $brand-white;
      }
    }
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
  background: transparent;
}
.fh5co-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  // top: 100px;
  // left: -100px;;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  // background: #f86942;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none!important;
  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}

// Buttons
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  @include border-radius(30px);
  @include transition(.5s);
  padding: 8px 20px;
  &:hover, &:active, &:focus {
    box-shadow: none!important;
    outline: none!important;
  }
}


.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.animate-box {
  .js & {
    opacity: 0;
  }
}

.wip {
  display: none !important;
}
